<p>Dear {{ commonName }},</p>

<p>Thank you for registering your token. Please visit one of the locations below within 14 days to get your token activated. After {{ expirationDate | format_date('full', locale=locale) }} your activation code is no longer valid.</p>

<p>Please bring the following:</p>
<ul>
    <li>Your token</li>
    <li>A valid proof of identity (passport, drivers license or national ID-card)</li>
    <li>The activation code from this e-mail</li>
</ul>

<p style='font-size: 150%; text-align: center'>Activation code: <code>{{ registrationCode }}</code></p>

<p>Location(s) to activate your token:</p>
{% if ras is empty %}
    <p>No RAs are known.</p>
{% else %}
    <ul>
        {% for ra in ras %}
            <li><address>
                <strong>{{ ra.commonName }}</strong><br />
                {{ ra.location }}<br />
                {{ ra.contactInformation }}
            </address></li>
        {% endfor %}
    </ul>
{% endif %}
