<p>Dear {{ commonName }},</p>

<p>Thank you for registering your token. Your token is ready to use. You can use this token for services connected to SURFconext that require two-step authentication. This e-mail contains more info on how to use your token.</p>

<p><strong>Handle your token with care</strong></p>
<ul>
    <li>Your token is private, do not share your token with others</li>
    <li>Never leave your token unattended</li>
    <li>Lock your phone, e.g. with a code or fingerprint</li>
</ul>

<p><strong>Token lost?</strong><br />
Did you lose your token? Please visit <a href='{{ selfServiceUrl }}'>{{ selfServiceUrl }}</a> and remove your token registration. This way no one can take advantage of your token.</p>

<p><strong>Replace token</strong><br />
Do you want to replace your token? Please visit <a href='{{ selfServiceUrl }}'>{{ selfServiceUrl }}</a>, remove your activated token and start the token registration process again.</p>

<p><strong>Test token</strong><br />
Do you want to test your token? Please visit <a href='{{ selfServiceUrl }}'>{{ selfServiceUrl }}</a> and select the "Test" button next to the token you want to test.</p>
