<p>Beste {{ commonName }},</p>

<p>Bedankt voor het registreren van je token. Je token is nu klaar voor gebruik. Je kunt dit token gebruiken wanneer op SURFconext aangesloten services een tweede inlogstap vereisen. In deze e-mail vind je meer informatie over het gebruik van je token.</p>

<p><strong>Ga zorgvuldig om met je token</strong></p>
<ul>
    <li>Je token is persoonlijk, deel deze niet met anderen</li>
    <li>Laat je token nooit onbeheerd achter</li>
    <li>Vergrendel je telefoon met bijvoorbeeld een code of vingerafdruk</li>
</ul>

<p><strong>Token verloren?</strong><br />
Wat moet je doen als je jouw token verloren bent? Ga naar <a href='{{ selfServiceUrl }}'>{{ selfServiceUrl }}</a> en verwijder je tokenregistratie. Zo kan niemand misbruik maken van jouw token.</p>

<p><strong>Nieuw token aanvragen</strong><br />
Wil je jouw token vervangen? Log in op <a href='{{ selfServiceUrl }}'>{{ selfServiceUrl }}</a>, verwijder je geactiveerde token en doorloop het registratieproces opnieuw.</p>

<p><strong>Token testen</strong><br />
Wil je de werking van je token testen? Log in op <a href='{{ selfServiceUrl }}'>{{ selfServiceUrl }}</a> en selecteer de "Testen" knop naast het token dat je wil testen.</p>
